<!DOCTYPE html>
<html>
    <head>
        <title>Please Wait</title>
    </head>
    <body>
        <h1 style="text-align: center;">Please Wait for someone else to join</h1>
        <script>
            window.location.href = "/il";
        </script>
    </body>
</html>
